:root {
  color-scheme: light dark;

  --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);

  --color-bg: #262436;
  --color-text-primary: hsla(0, 0%, 100%, 0.95);

  --color-secondary: hsl(237, 20%, 90%);

  --color-primary: #646cff;
  --color-primary-tint: #8681ff;
  /* Colour names from https://chir.ag/projects/name-that-color */
  --color-orchid: #e549d2;
  --color-wild-strawberry: #ff3f90;
  --color-persimmon: #ff6f4d;
  --color-web-orange: #ffa600;
}

::selection {
  background-color: var(--color-primary);
  color: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}


a {
  font-weight: 500;
  color: var(--color-primary);
  text-decoration: inherit;
}

a:hover {
  color: var(--color-primary-tint);
}

body {
  margin: 0;
  display: grid;
  line-height: 1.5;
  font-weight: 400;
  min-height: 100vh;
  min-height: 100dvh;
  place-items: center;
  color-scheme: light;
  font-synthesis: none;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-bg);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}


@media (prefers-color-scheme: light) {
  :root {
    --color-bg: #fff;
    --color-text-primary: hsla(0, 0%, 0%, 0.95);
  }

  svg {
    fill: var(--color-dark);
  }
}